@(title: String, idCluster: String, bucket: OrangeBucket)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.js")" type="text/javascript"></script>
    </head>
    <body>
        <h1>ContextViewer application - Bucket View with @bucket.getLabel</h1>

        <div class="bucketDetailedBox">
            <img src="@routes.Assets.at("images/bucket.png")" />
            @for((key, document: OrangeDocument) <- bucket.getOrangeDocuments()) {
                <ul>
                    <li>@key
                        : <a href="@routes.DocumentController.index(idCluster, bucket.getId(), key)">en savoir plus ...</a></li>
                </ul>
            }
            <div class="sweeper" />
        </div>
        <div class="addDocument">
            <form name="addDocument" action="@routes.DocumentController.addDocument(idCluster, bucket.getId(), "key6", "My insertion test")" method="post">

                Key: <input type="text" name="key"><br>
                Value: <input type="text" name="value">
                <input type="submit" value="Submit">
            </form>
            <a href="@routes.DocumentController.addDocument(idCluster, bucket.getId(), "key6", "My insertion test")">
                Ajouter un élément au bucket</a>
        </div>
        <a href="@routes.ClusterController.index(idCluster)">Retour à la vue Cluster</a>

    </body>
</html>
