@(title: String, cluster: OrangeCluster)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.js")" type="text/javascript"></script>
    </head>
    <body>
        <h1>ContextViewer application - Cluster View with @cluster.getLabel</h1>
        <div class="clusterListBox">
            <h2>Cluster @cluster.getLabel</h2>
            <div id = "@cluster.getId()" class="clusterBox @cluster.getStatus()">
                <img src="@routes.Assets.at("images/cluster-" + cluster.getStatus() + ".png")" />
                <span class="clusterTitle">@cluster.getLabel()</span>
                <span class="clusterText">@cluster.getUriList.toString()</span>
                @if(cluster.getStatus() == "connected") {
                    <p class="clusterText">Liste des buckets disponibles</p>
                    @for((keyB, bucket: OrangeBucket) <- cluster.getBucketMap()) {
                        <div id = "@keyB" class="bucketBox @bucket.getStatus()">
                            <a href="@routes.BucketController.index(cluster.getId, keyB)">
                                <img src="@routes.Assets.at("images/bucket-available.png")" />
                                <p class="bucketTitle">@bucket.getLabel()</p>
                            </a>
                        </div>
                    }
                    <a href="@routes.ContextViewer.index(false)">Return to Cluster Manager View</a>
                }
            </div>
            <div class="sweeper" />
        </div>
    </body>
</html>
