@(errorThrowable: Throwable)

<!DOCTYPE html>

<html>
    <head>
        <title>Context Viewer - Error Page</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.js")" type="text/javascript"></script>
    </head>
    <body>
        <h1>ContextViewer application is under development - This is the default error Page</h1>
        <h2>@errorThrowable.getCause()</h2>
        <h3>Message : @errorThrowable.getLocalizedMessage()</h3>
    </body>
</html>
